<h1>{{ question.subject }}</h1>

<div>
    {{ question.content }}
</div>

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>{{ answer.content }}</li>
        {% endfor %}
    </ul>
</div>

<form action="{% url 'board:answer_create' question.id %}" method="post">
    <!--
        csrf_token은 form 엘리먼트를 통해 전송된 데이터가 실제로 웹브라우저에서 작성된 데이터인지 판단하는 검사기 역할
        csrf_token을 이용하려면 CsrfViewMiddleware라는 미들웨어를 추가해야하지만 장고는 프로젝트 생성시
        config/setting.py MIDDLEWARE 라는 항목에 자동으로 추가된다.
    -->
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form>